@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #a8c5c7;
  color: #3c6988;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom {
  transform: translateY(95vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.menu {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#technology {
  display: none;
}

#works {
  display: none;
}

.text {
  font-family: 'Roboto Mono', monospace;
}

.paragraph {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  column-gap: 10vw;
  row-gap: 10vh;
  align-items: center;
}

.libraries {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#anime_js {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.anime_js {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

iframe {
  width: 600px;
  height: 600px;
  transform: translateY(10vh);
}

.animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.works {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* ipad mini 9.7" portrait */
/* @media screen and (max-width: 768px) {
  .text {
    font-size: 7vw;
  }
} */

/* iphone se */
/* @media screen and (max-width: 320px) {
  .text {
    font-size: 7vw;
  }
} */
