@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #a8c5c7;
  color: #3c6988;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom {
  transform: translateY(95vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  width: 100%;
  position: absolute;
  z-index: 1;
  font-family: 'Roboto Mono', monospace;
}

iframe {
  width: 600px;
  height: 600px;
  transform: translateY(10vh);
}

.animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
