@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  background-color: #a8c5c7;
  color: #3c6988;
  overflow: hidden;
}

iframe {
  width: 600px;
  height: 600px;
  transform: translateY(10vh);
}

a {
  color: #E8D7D9;
  text-decoration: none;
}

a:active {
  text-decoration: overline;
  color: #D37356;
}

a:hover {
  text-decoration: line-through;
}

#menu {
  color: #E8D7D9;
}

#burger {
  width: 10vw;
}

#technology {
  display: none;
}

#works {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  left: 90vw;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom {
  transform: translateY(95vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation {
  width: 100%;
  z-index: 1;
}

.text_antique {
  font-family: 'Prata', serif;
  font-size: 3vw;
}

.text_grotesque {
  font-family: 'Rubik', sans-serif;
  font-size: 2vw;
}

.paragraph {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  column-gap: 10vw;
  row-gap: 10vh;
  align-items: center;
}

.libraries {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#anime_js {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.anime_js {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.works {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* iphone xs */
@media screen and (max-width: 375px) {

  #burger {
    display: flex;
  }

  #menu {
    display: none;
  }

  #text_antique div {
    font-size: 5vw;
  }

}

/* iphone 8 plus */
@media screen and (max-width: 414px) {

  #text_antique {
    font-size: 7vw;
  }

  #burger {
    display: flex;
  }

  #menu {
    display: none;
  }

}

/* ipad mini 9.7" portrait */
@media screen and (max-width: 768px) {

  #text_antique {
    font-size: 7vw;
  }

  #burger {
    display: flex;
  }

  #menu {
    display: none;
  }

}

/* ipad mini 9.7" landscape */
@media screen and (max-width: 1024px) {

  #burger {
    display: flex;
  }

  #text_antique {
    font-size: 3vw;
  }

  #menu {
    display: none;
  }

}

/* macbook pro 13 */
@media screen and (max-width: 1280px) {

  #burger {
    display: none;
  }

  #text_antique {
    font-size: 3vw;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }

}

/* macbook air */
@media screen and (max-width: 1366px) {

  #burger {
    display: none;
  }

  #text_antique {
    font-size: 3vw;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }

}

/* macbook pro 15 */
@media screen and (max-width: 1440px) {

  #burger {
    display: none;
  }

  #text_antique {
    font-size: 3vw;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }

}

/* macbook pro 15 custom */
@media screen and (max-width: 1680px) {

  #burger {
    display: none;
  }

  #text_antique {
    font-size: 3vw;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }

}


/* imac 21.6 */
@media screen and (max-width: 1920px) {

  #burger {
    display: none;
  }

  #text_antique {
    font-size: 3vw;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }

}
